* {
    margin: 0px;
    padding: 0px;

}

h1 {
    color: aliceblue;
    background-color: #92BEAD;
    margin: 25px auto 0;
    padding: 15px 40px;
    border-radius: 100px;
    text-align: center;
    width: fit-content;
}

.choices {
    background-color: #F6F5AE;
    margin: 100px auto 0;
    padding: 20px;
    border-radius: 100px;
    width: fit-content;
}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 25px;
}

#sel{
    display: flex;
    justify-content: center;
    color: #7c7a79;
}
.score{
    display: flex;
    justify-content: center;
    padding: 100px;
    background-color: white;
}